/target/
/nb-configuration.xml
/.classpath
/.project
/bin
/.settings
/.idea
/katalinaX.iml
/.bpmn/src/main/resources/procesos/AprobacionPresupuestoAnual.bpmn2d
/.bpmn/src/main/resources/procesos/pagoRetencionesJudiciales.bpmn2d
/.bpmn/src/main/resources/procesos/pagoRolDecimos.bpmn2d
/.bpmn/src/main/resources/procesos/pagoServiciosProfesionales.bpmn2d
/.bpmn/src/main/resources/procesos/procesoPagoContratoServicios.bpmn2d
/src/main/webapp/reportes/titleV.jasper
/.apt_generated/
/.apt_generated_tests/
