/* Utils */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.card {
    @include content-shadow();
    @include border-radius(2px);
    background: #ffffff;
    padding: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;

    &.card-w-title {
        padding-bottom: 26px;
    }

    h1 {
        font-weight: normal;
        font-size: 22px;
        margin: 22px 0;

        &:first-child {
            margin-top: 0;
        }
    }

    h2 {
        font-weight: normal;
        font-size: 20px;
    }

    h3 {
        font-weight: normal;
        font-size: 18px;
    }

    h4 {
        font-weight: normal;
        font-size: 16px;
    }
}

.nopad {
    padding: 0;

    .ui-panel-content {
        padding: 0;
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}

.ui-shadow-1 {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ui-shadow-2 {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ui-shadow-3 {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.ui-shadow-4 {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ui-shadow-5 {
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.ui-shadow-content {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    border: 0 none !important;
}

.ui-g {
    &.form-group {
        > div {
            padding: 6px 8px;
        }
    }
}

.ui-panelgrid {
    &.form-group {
        .ui-panelgrid-cell {
            padding: 6px 8px;
        }
    }
}

.ui-selectoneradio, .ui-selectmanycheckbox  {
    &.form-group {
        .ui-grid-row > div {
            padding: 4px 8px;
        }
    }
}

/*
 * New Grid CSS
 * Only necessary to add if your PrimeFaces version is older than 5.3.14
 */
.ui-g {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;

    div{
        &.activo{
            background-color:#dbe4ff !important;
            text-align: center;
            border: 1px solid #dbe4ff;
        }
        &.inactivo{
            background-color:lightcoral !important;
            text-align: center;
            border: 1px solid #ffe6f5;
        }
        &.enproceso{
            background-color:#e7ffe4 !important;
            text-align: center;
            border: 1px solid #e7ffe4;
        }
        &.pendiente{
            background-color:#fff78a !important;
            text-align: center;
            border: 1px solid #fff78a;
        }
        &.normal{
        }
    }
}

.ui-g:after {
    clear: both;
    content: "";
    display: table;
}

body {
    .ui-g-1,
    .ui-g-2,
    .ui-g-3,
    .ui-g-4,
    .ui-g-5,
    .ui-g-6,
    .ui-g-7,
    .ui-g-8,
    .ui-g-9,
    .ui-g-10,
    .ui-g-11,
    .ui-g-12 {
        padding: 0.65em;
    }
}


@media screen and (max-width: 40em) {
    body {
        .ui-sm-1,
        .ui-sm-2,
        .ui-sm-3,
        .ui-sm-4,
        .ui-sm-5,
        .ui-sm-6,
        .ui-sm-7,
        .ui-sm-8,
        .ui-sm-9,
        .ui-sm-10,
        .ui-sm-11,
        .ui-sm-12 {
            padding: 0.65em;
        }
    }

}

@media screen and (min-width: 40.063em) {
    body {
        .ui-md-1,
        .ui-md-2,
        .ui-md-3,
        .ui-md-4,
        .ui-md-5,
        .ui-md-6,
        .ui-md-7,
        .ui-md-8,
        .ui-md-9,
        .ui-md-10,
        .ui-md-11,
        .ui-md-12 {
            padding: 0.65em;
        }
    }
}

@media screen and (min-width: 64.063em) {
    body {
        .ui-lg-1,
        .ui-lg-2,
        .ui-lg-3,
        .ui-lg-4,
        .ui-lg-5,
        .ui-lg-6,
        .ui-lg-7,
        .ui-lg-8,
        .ui-lg-9,
        .ui-lg-10,
        .ui-lg-11,
        .ui-lg-12 {
            padding: 0.65em;
        }
    }

}

@media screen and (min-width: 90.063em) {
    body {
        .ui-xl-1,
        .ui-xl-2,
        .ui-xl-3,
        .ui-xl-4,
        .ui-xl-5,
        .ui-xl-6,
        .ui-xl-7,
        .ui-xl-8,
        .ui-xl-9,
        .ui-xl-10,
        .ui-xl-11,
        .ui-xl-12 {
            padding: 0.65em;
        }
    }
}

.fa{
    &.blue {
        color: blue !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
    }
    &.blue:hover {
        color: blue !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        -webkit-filter: invert(75%);
        filter: invert(75%);
    }
    &.blue1 {
        color: #4fc3f7 !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
    }
    &.blue1:hover {
        color: #4fc3f7 !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        -webkit-filter: invert(75%);
        filter: invert(75%);
    }
    &.blue2 {
        color: #0091EA !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
    }
    &.blue2:hover {
        color: #0091EA !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        -webkit-filter: invert(75%);
        filter: invert(75%);
    }
    &.blue3 {
        color: #01579B !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
    }
    &.blue3:hover {
        color: #01579B !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        -webkit-filter: invert(75%);
        filter: invert(75%);
    }

    &.edit{
        color: #b2dfdb !important;
        font-size: $iconFontSize + 1;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
    }
    &.edit:hover{
        color: $accentColor !important;
        font-size: $iconFontSize - 2;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        -webkit-filter: invert(85%);
        filter: invert(85%);
    }
    &.delete{
        font-size: $iconFontSize - 2;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        color: $accentColor !important;
    }
    &.delete:hover{
        font-size: $iconFontSize - 2;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        color: rgba(223, 26, 26, 0.82) !important;
        -webkit-filter: invert(85%);
        filter: invert(85%);
    }
    &.new{
        font-size: $iconFontSize - 2;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        color: #b2dfdb !important;
    }
    &.new:hover{
        font-size: $iconFontSize - 2;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        color: $accentColor !important;
        -webkit-filter: invert(85%);
        filter: invert(85%);
    }

    &.newi {
        font-size: $iconFontSize - 2;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        color: blue !important;
    }
    &.newi:hover {
        font-size: $iconFontSize - 2;
        font-style: normal;
        font-weight: 300;
        margin-right: 5px;
        color: $accentColor !important;
        -webkit-filter: invert(85%);
        filter: invert(85%);
    }
}

div{
    &.panelInput{
        font-weight: bold;
        font-size: 11px;
        > .ui-outputlabel {
            padding-bottom: 8px !important;
        }

        > body .ui-inputfield{
            margin-top: 5px;
        }
    }
}

.Direccion .ui-treenode-label {
    color: #424242 !important;
    font-weight: bold !important;
}

.Departamento .ui-treenode-label {
    color:#362424 !important;
    font-weight: 400 !important;
}
.Unidad .ui-treenode-label {
    color: #757575 !important;
    font-weight: 500 !important;
}

.ui-inputgroup{
    .ui-inputtext{
        padding-left: 0.03em;
        margin-top: 0.5em;
    }
}

.white-button.ui-button.ui-state-default {
    background-color: #ffffff;
    color: #222222;
    border-color: #d6d6d6;
}
.green-button.ui-button.ui-state-default {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
}

.red-button.ui-button.ui-state-default {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
}

.button-group.ui-button.ui-button-icon-only {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0px;
    width: 25px;
    height: 25px;
}

.estado{
    &-activo{
        background-color:#dbe4ff !important;
        background-image:none;
    }
    &-inactivo{
        background-color:#ffe6f5 !important;
        background-image:none;
    }
    &-enproceso{
        background-color:#e7ffe4 !important;
        background-image:none;
    }
    &-pendiente{
        background-color:#fff78a !important;
        background-image:none;
    }
    &-normal{
    }
}

/* Containers */
.Container{
    &100{ width:100%;  float:left;}
    &96{ width:96%;  float:left;}
    &90{ width:90%;  float:left;}
    &85{ width:85%;  float:left;}
    &80{ width:80%;  float:left;}
    &75{ width:75%;  float:left;}
    &70{ width:70%;  float:left;}
    &60{ width:60%;  float:left;}
    &50{ width:50%;  float:left;}
    &40{ width:40%;  float:left;}
    &33{ width:33.3%;  float:left;}
    &30{ width:30%;  float:left;}
    &25{ width:25%;  float:left;}
    &20{ width:20%;  float:left;}
    &10{ width:10%;  float:left;}
    &5{ width:5%;  float:left;}
    &Indent{display:block;}
}
/* Text Aligns */
.TexAl{
    &Center{ text-align:center;}
    &Left{ text-align:left;}
    &LeftMiddle{ text-align:left; vertical-align: middle;}
    &Right{ text-align:right !important;}
}
/* Padding With Transparent Border*/
.PadWithBorder{
    &1{ border:solid 1px transparent;}
    &2{ border:solid 2px transparent;}
    &3{ border:solid 3px transparent;}
    &4{ border:solid 4px transparent;}
    &5{ border:solid 5px transparent;}
    &10{ border:solid 10px transparent;}
}
/* Box Sizing */
.BoxSize{
    &Content{ box-sizing:content-box; -webkit-box-sizing:content-box; -moz-box-sizing:content-box;}
    &Border{ box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
}
/* Font Sizes */
.Fs{
    &9{font-size:9px !important;}
    &10{font-size:10px !important;}
    &11{font-size:11px !important;}
    &12{font-size:12px !important;}
    &13{font-size:13px !important;}
    &14{font-size:14px !important;}
    &15{font-size:15px !important;}
    &16{font-size:16px !important;}
    &17{font-size:17px !important;}
    &18{font-size:18px !important;}
    &19{font-size:19px !important;}
    &20{font-size:20px !important;}
    &21{font-size:21px !important;}
    &22{font-size:22px !important;}
    &23{font-size:23px !important;}
    &24{font-size:24px !important;}
    &25{font-size:25px !important;}
    &26{font-size:26px !important;}
    &27{font-size:27px !important;}
    &28{font-size:28px !important;}
    &29{font-size:29px !important;}
    &30{font-size:30px !important;}
    &40{font-size:40px !important;}
    &50{font-size:50px !important;}
    &60{font-size:60px !important;}
    &100{font-size:100px !important;}
    &130{font-size:130px !important;}
}
/* Font Type */
.Font{
    &Bold{ font-weight:bold !important;}
    &Light{ font-weight:lighter !important;}
    &Normal{ font-weight:normal !important;}
}

.prioridad{
    &-alta {
        position: relative;
        margin: 0 auto;
        width: 0px;
        height: 0px;
        padding: 0px;
        color: white;
        background-color: rgba(0,0,0,.8);
        float: right;
    }
    &-alta::after {
        position: absolute;
        left: -19px;
        top: 0px;
        content: '';
        width: 0;
        height: 0;
        border-right: solid 30px rgba(243, 132, 132, 0.8);
        border-bottom: solid 0px transparent;
        border-top: solid 30px transparent;
    }
    &-baja {
        position: relative;
        margin: 0 auto;
        width: 0px;
        height: 0px;
        padding: 0px;
        color: white;
        background-color: rgba(0,0,0,.8);
        float: right;
    }
    &-baja::after {
        position: absolute;
        left: -19px;
        top: 0px;
        content: '';
        width: 0;
        height: 0;
        border-right: solid 30px rgba(125, 253, 79, 0.8);
        border-bottom: solid 0px transparent;
        border-top: solid 30px transparent;
    }
    &-normal {
        position: relative;
        margin: 0 auto;
        width: 0px;
        height: 0px;
        padding: 0px;
        color: white;
        background-color: rgba(0,0,0,.8);
        float: right;
    }
    &-normal::after {
        position: absolute;
        left: -19px;
        top: 0px;
        content: '';
        width: 0;
        height: 0;
        border-right: solid 30px rgba(242, 230, 132, 0.8);
        border-bottom: solid 0px transparent;
        border-top: solid 30px transparent;
    }
}


noBorder{border: none !important;}

.Wid{
    &100{width: 100% !important;}
    &99{width: 99% !important;}
    &98{width: 98% !important;}
    &97{width: 97% !important;}
    &96{width: 96% !important;}
    &95{width: 95% !important;}
    &94{width: 94% !important;}
    &93{width: 93% !important;}
    &92{width: 92% !important;}
    &91{width: 91% !important;}
    &90{width: 90% !important;}
    &80{width: 80% !important;}
    &85{width: 85% !important;}
    &70{width: 70% !important;}
    &75{width: 75% !important;}
    &60{width: 60% !important;}
    &65{width: 65% !important;}
    &50{width: 50% !important;}
    &55{width: 55% !important;}
    &40{width: 40% !important;}
    &45{width: 45% !important;}
    &30{width: 30% !important;}
    &35{width: 35% !important;}
    &20{width: 20% !important;}
    &25{width: 25% !important;}
    &10{width: 10% !important;}
    &15{width: 15% !important;}
    &5{width: 5% !important;}
}

.Disp{
    &Block{display: block;}
    &Table{ display:table; vertical-align:middle;}
    &TableCell{ display:table-cell; vertical-align:middle;}
    &None{ display:none;}
    &InlBlock{display:inline-block;}
}
