$primaryColor: #6be3ad;
$primaryDarkColor: #a0ffdf;
$primaryLightColor: #32b07e;
$primaryTextColor: #ffffff;
$primaryTextHoverColor:#ffffff;
$accentColor: #00b0ff;
$accentDarkColor: #0081cb;
$accentLightColor: #69e2ff;
$accentTextColor: #2d2d2d;
/*$accentTextColor: #000000;*/

$primaryTextHoverColor:#00b0ff;
$activeMenuItemTextColor:#32b07e;
$darkActiveMenuItemTextColor:#69e2ff;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../sass/layout/_layout';
