$primaryColor: #6be3ad;
$primaryDarkColor: #32b07e;
$primaryLightColor: #a0ffdf;
$primaryTextColor: #ffffff;
$accentColor: #00b0ff;
$accentDarkColor: #0081cb;
$accentLightColor: #69e2ff;
$accentTextColor: #2d2d2d;

@import '../sass/theme/_theme';