/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2019, 14:40:28
    Author     : Dairon Freddy
*/

.ui-outputlabel-rfi {
    color: red;
    font-size: 11px;
    font-weight: bold;
}

body .ui-selectbooleanbutton.ui-state-active{
    background-color: #FFC107 !important;
    color: black !important; 

}

body .ui-selectbooleanbutton.ui-state-default{
    background-color: red;
    color: white; 

}


/* ESTILO DEL WIZARD */
div.wizardSigef ul.ui-wizard-step-titles{
    margin-top: 10px !important;
    list-style: none  !important;
    overflow: hidden !important;
    background-color: #b7b7b7 !important;
}

div.wizardSigef ul.ui-wizard-step-titles li{
    float: left;
    padding: 0px !important;
    border: none !important;
    text-shadow: none;
}

div.wizardSigef ul.ui-wizard-step-titles li a{
    color: #b2dfdb;
    text-decoration: none;
    padding: 15px 0 15px 40px;
    background: #00796b;
    /*background-image: linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);*/
    position: relative;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
}

div.wizardSigef ul.ui-wizard-step-titles li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #00796b;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
div.wizardSigef ul.ui-wizard-step-titles li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

div.wizardSigef ul.ui-wizard-step-titles li.ui-state-highlight{
    border: 0px;
    color: transparent;
    background: none;
}

div.wizardSigef ul.ui-wizard-step-titles li.ui-state-highlight a{
    background: #FFC107;
    color: #424242;
}
div.wizardSigef ul.ui-wizard-step-titles li.ui-state-highlight a:after {
    border-left: 30px solid #FFC107;
    color: #424242;
}

button.ui-wizard-nav-next, button.ui-wizard-nav-back{
    width: 120px !important;
}


.label-bold{
    width: 100% !important; display: block;font-weight: bold !important;
}
.label{
    width: 100% !important; display: block;
}
/* END ESTILO DEL WIZARD */