/* Common */
$fontSize:11px;
$fontFamily:"Roboto","Helvetica Neue",sans-serif;
$lineHeight:14px;
$textColor:#2d2d2d;
$textSecondaryColor:#757575;
$borderRadius:3px;
$dividerColor:#eaeaea;
$dividerLightColor:#f8f8f8;
$iconWidth:18px;
$iconHeight:18px;
$iconFontSize:18px;
$grayBgColor:#757575;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;

/* Layout */
$bodyBgColor:#fcfbfb;
$menuItemHoverBgColor:#e8e8e8;
$menuitemColor:#757575;
$footerBgColor:#ffffff;

/* Topbar */
$topbarSubmenuBgColor:#f7f7f7;
$topbarSubmenuItemHoverBgColor:#e3e3e3;

/******************************/
/*           THEME            */
/******************************/
$headerPadding:2px 5px;
$headerTextColor:#ffffff;

$contentPadding:2px 5px;
$contentBorderColor:#d8d8d8;
$contentBgColor:#ffffff;

$inputBorderColor:#bdbdbd;
$inputInvalidBorderColor:#e62a10;
$inputBgColor:#ffffff;
$inputErrorTextColor:#e62a10;
$inputHeaderPadding:2px 4px;

$buttonTextColor:#ebe9e9;

$listItemPadding:2px 4px;

$radioButtonBorderColor:#757575;
$checkboxBorderColor:#757575;

$errorMessageFontSize:11px;
$errorMessageIconFontSize:13px;

$dataTableRowBgColorEven:#f4f4f4;
$paginatorPadding:2px 4px;
$menuitemPadding:2px 4px;