$primaryColor:#007BA0;
$primaryDarkColor: #5e96bb;
$primaryLightColor:#20CAF2;
$primaryTextColor:#E3EFF4;
$primaryTextHoverColor:#FFFFFF;
$accentColor:#FBC02D;
$accentDarkColor: #aa9b00;
$accentLightColor:#FFF9C4;
$accentTextColor:#000000;
$activeMenuItemTextColor:#007BA2;
$darkActiveMenuItemTextColor:#2B8CDC;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';